* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    overflow-x: hidden;

    margin: 0;
}

header {
    position: relative;


    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                        url("assets/img/bg-splash.jpg");
    background-size: 100%;

    color: #000;
}

h2 {
    font-size: 3em;

    text-align: center;
}

p {
    font-family: 'Lato', sans-serif;
}

#particles {
    position: absolute;
}

#portfolio {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 600px;

    background-color: #78c5ea;
    color: #000;
}

#portfolio h2 {
    position: absolute;
    z-index: 999;
    top: 0;

    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
}

#portfolio .container {
    display: flex;

    width: 110%;
    height: 100%;
}

.flex-item {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    align-content: center;

    padding-top: 50px;

    transform: skewX(8deg);
}

.flex-item * {
    transform: skewX(-8deg);
}

.flex-item p {
    margin: 0 40px;

    line-height: 25px;

    color: #000;
}

.portfolio-pic {
    background-color: #C9DD29;
}

.portfolio-pic img {
    margin: 0 40px;

    max-width: 500px;
    max-height: 500px;
}

.desc {
    text-align: justify;

    background-color: #78c5ea;
}

footer {
    height: 500px;

    background-color: #212529;
}

.splash {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    margin: 15px;
    /* padding-top: 100px; */

    height: 640px;

    border: 3px solid #FFF;

    color: #FFF;

    font-family: 'Lato', sans-serif;
}

.splash h1, .splash h2 {

    margin: 5px;
}

.splash h2 {
    /* letter-spacing: 6px; */

    font-size: 4.5em;
    /* margin: 0; */
}

.splash h1 {
    font-family: 'Staatliches', cursive;

    letter-spacing: 3px;
}

.splash hr {
    height: 1px;
    width: 17%;

    border: none;

    background-color: #FFF;
}

.splash p {
    font-family: 'Merriweather', serif;
    font-size: 1.1em;
    letter-spacing: 1px;

    padding-bottom: 50px;
}

.splash a {
    width: 18%;
    height: 60px;

    background-color: #00000000;

    font-family: 'Lato', sans-serif;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-align: center;
    line-height: 60px;

    color: #FFF;

    border: 4px solid #FFF;
}

nav {
    position: fixed;
    /* top: 10px; */
    z-index: 9;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 10px;

    width: 100%;
    height: 120px;

    background-color: #00000000;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)); */
}

nav ul{
    display: flex;
    flex-direction: row;

    padding: 0 25px;

    list-style-type: none;
}

nav ul li {
    display: flex;
    align-items: center;

    height: 100%;
    margin: 0 20px;
}

nav a {
    display: flex;
    align-items: center;

    height: 90%;

    font-family: 'Sarabun', sans-serif;
    color: #FFF;
    text-decoration: none;
}

#logo {
    max-width: 300px;

    padding: 25px 45px;
}

#logo img {
    height: 100%;

    border-radius: 50px;
}