body {
  background-color: rgb(216, 216, 216);
  margin: 0;
}

h1, h2 {
  /* height: 100%; */
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

h1 {
  margin: 0;
  /* vertical-align: middle; */
  line-height: 90px;
  font-size: 2em;
  /* height: 100%; */
}

h1.scrolled {
  line-height: 50px;
  font-size: 1.5em;
  transition: line-height 90ms, font-size 90ms linear;
}

h2 {
  background-color: rgb(53, 68, 87);
  padding: 15px;
  padding-left: 25px;
  color: #FFF;
  border-left: 5px solid chocolate;
  font-size: 1.3em;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 30px;
}

hr {
  height: 1px;
  background-color: rgb(42, 96, 109);
  border: none;
  margin: 10px auto;
}

.container {
  margin: auto;
  margin-top: 110px;
  width: 95%;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  width: 100%;
  margin: 15px 0;
}

.skill-list {
  padding: 0;
}

.skill-list li {
  position: relative;
  border: 1px solid rgb(160, 160, 160);
  background-color: rgb(213, 224, 168);
  padding: 7px 15px;
  margin-bottom: 12px;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  border-radius: 0 5px 5px 0;
  overflow: hidden;
  color: #000;
}

.skill-list li img{
  /* display: inline-block; */
  /* vertical-align: middle; */
  max-height: 170%;
  max-width: 170%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* margin-right: 30px; */

  transform: translateX(200px);
}

.bullet {
  width: 0; 
  height: 0; 
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  
  border-left: 6px solid maroon;
  display: inline-block;
  margin-right: 10px;
}

.skills .skillcard-container {
  width: 100%;
  display: table;
  /* border-spacing: 10px; */
}

.skills .row {
  display: table-row;
}

.card {
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #000;
  /* box-shadow: 3px 3px #000; */
  /* float: left; */
  width: 33%;
  height: 100px;
  margin: 15px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Cousine', monospace;
}

.nav, .content {
  background-color: rgb(255, 255, 255);
  /* box-shadow: 7px 7px rgb(105, 186, 206); */
  border: 1px solid rgb(42, 96, 109);
  border-radius: 5px;
}

.header {
  background-color: rgb(53, 68, 87);
  border-bottom: 10px solid #D2691E;
  color: #EEE;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  padding: 0 55px;
  z-index: 100;
  transition: height 90ms, border-bottom 90ms linear;
}

.header.scrolled {
  height: 50px;
  border-bottom: 3px solid #D2691E;
  transition: height 90ms, border-bottom 90ms linear;
}

.nav {
  padding: 30px 5px;
  box-sizing: border-box;
}

.nav .profile-picture {
  display: block;
  max-height: 200px;
  max-width: 200px;
  margin: 12px auto;
  padding: 5px;
  border: 1px solid #AAA;
  border-radius: 5px;
  /* box-shadow: 5px 5px brown; */
}

.nav p {
  text-align: center;
  margin: 0;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav .row {
  width: 90%;
  margin: auto;
  clear: both;
}

.left, .right {
  font-family: 'Lato', sans-serif;
}

.left {
  float: left;
}

.right {
  float: right;
}

.nav hr {
  width: 90%;
}

.profile-box {
  border: 1px solid #AAA;
}

.social-media-bar {
  padding: 0 10px;
  text-align: center;
}

.social-media-bar .item{
  display: inline-block;
  box-sizing: border-box;
  margin: 10px;
  height: 50px;
  width: 50px;

  transition: transform 0.2s;
}

.social-media-bar .item:hover {
  transform: scale(1.2,1.2);
}

.item img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.content {
  padding: 25px;
  box-sizing: border-box;
}

.content p {
  font-size: 16;
}

.about-me p {
  text-align: justify;
}

@media screen and (min-width: 850px) {
  .col-3 {width: 30%;}
  .col-9 {width: 68%; float: right;}
  .content {padding: 25px 120px;}
}